{layout name="common/layout" /}

<div class="container" id="content-container">

    <div class="row">

        <main class="col-xs-12 col-md-8">
            <div class="panel panel-default article-content">
                <div class="panel-heading">
                    <ol class="breadcrumb">
                        <!-- S 面包屑导航 -->
                        {cms:breadcrumb id="item"}
                        <li><a href="{$item.url}">{$item.name|htmlentities}</a></li>
                        {/cms:breadcrumb}
                        <!-- E 面包屑导航 -->
                    </ol>
                </div>
                <div class="panel-body">
                    <div class="article-metas">
                        <h1 class="metas-title" {if $__ARCHIVES__.style}style="{$__ARCHIVES__.style_text}" {/if}>{cms:archives name="title|htmlentities" /}</h1>

                        <div class="metas-body">
                            {if isset($__ARCHIVES__.author) && $__ARCHIVES__.author}
                            <span>
                                <i class="fa fa-user"></i> {cms:archives name="author|htmlentities" /}
                            </span>
                            {/if}
                         
                        </div>

                    </div>

                    <div class="article-text">
                        <!-- S 正文 -->
                        <p>
                            {if $__ARCHIVES__.is_paid_part_of_content || $__ARCHIVES__.ispaid}
                            {cms:archives name="content" /}
                            {/if}
                        </p>
                        <!-- E 正文 -->
                    </div>

                  

                    <div class="clearfix"></div>
                </div>
            </div>


        </main>

        <aside class="col-xs-12 col-md-4">
            {include file="common/authorinfo" /}
            {include file="common/sidebar" /}
        </aside>
    </div>
</div>
